<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.joonheepak.finalproject">
    <application>
        <provider
            android:name=".data.generated.DatabaseProvider"
            android:authorities="@string/content_provider"
            android:exported="true" />

    </application>

</manifest>
