<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.joon.pak.travelite">
    <application>
        <provider
            android:name=".data.generated.DatabaseProvider"
            android:authorities="com.joon.pak.travelite.data.DatabaseProvider"
            android:exported="true" />

    </application>

</manifest>
